---
layout: default
---
<!-- Start hero -->
<main>
    <div id="carrousel" class="carrousel">
        <h1 class="hero_title">Front-End Developer</h1>
        <h2 class="hero_subtitle">Internet lo construimos todos</h2>
        <div class="hero_arrow"> <a class="link" href="#about"><i class="fas fa-angle-double-down"></i></a></div>
    </div>
    <!-- End hero -->
    <!-- Start About -->
    <div id="about" class="container">
        <h1 class="about_title section_title">SOBRE MI</h1>
        <div class="title_border"></div>
        <div class="about_block">
            <div class="about_descirpcion">
                <div class="about_pregunta">¿Quién es Sergio Martinez?</div>
                <div class="about_respuesta">Soy Front-End Developer por cuenta porpia y amante del desarrollo Web. Me encanta descubir y exprimir nuevas tecnologias, pero siempre con el mismo proposito: construir interfaces dinamicas, faciles de usar e intuitivas para el usuario final aplicando conocimientos de UX/UI. Disfruto de los retos y aventurarme en grandes proyectos, <a href="#contact" class="link_ancla">me encantaria escuchar tu propuesta</a></div>
            </div>
            <div class="about_skills">
                <div class="skills_item">
                    <div class="skills_data">
                        <div class="sub">
                        <div class="skills_name">HTML</div>
                        <div class="skills_bar" id="html_bar"></div>
                    </div>
                        <div class="skills_percent"></div>
                    </div>
                </div>
                <div class="skills_item">
                    <div class="skills_data">
                        <div class="sub">
                        <div class="skills_name">CSS</div>
                        <div class="skills_bar" id="css_bar"></div>
                    </div>
                        <div class="skills_percent"></div>
                    </div>
                </div>
                <div class="skills_item">
                    <div class="skills_data">
                        <div class="sub">
                        <div class="skills_name">JavaScript</div>
                        <div class="skills_bar" id="js_bar"></div>
                    </div>
                        <div class="skills_percent"></div>
                    </div>
                </div>
                <div class="skills_item">
                    <div class="skills_data">
                        <div class="sub">
                        <div class="skills_name">Loadash</div>
                        <div class="skills_bar" id="loadash_bar"></div>
                    </div>
                        <div class="skills_percent"></div>
                    </div>
                </div>
                <div class="skills_item">
                    <div class="skills_data">
                        <div class="sub">
                        <div class="skills_name">Vue.js</div>
                        <div class="skills_bar" id="vue_bar"></div>
                    </div>
                        <div class="skills_percent"></div>
                    </div>
                </div>
                <div class="skills_item">
                    <div class="skills_data">
                        <div class="sub">
                        <div class="skills_name">Bootstrap</div>
                        <div class="skills_bar" id="bootstrap_bar"></div>
                    </div>
                        <div class="skills_percent"></div>
                    </div>
                </div>
                <div class="skills_item">
                    <div class="skills_data">
                        <div class="sub">
                        <div class="skills_name">Photoshop</div>
                        <div class="skills_bar" id="photoshop_bar"></div>
                    </div>
                        <div class="skills_percent"></div>
                    </div>
                </div>
                <div class="skills_item">
                    <div class="skills_data">
                        <div class="sub">
                        <div class="skills_name">Illustrator</div>
                        <div class="skills_bar" id="illustrator_bar"></div>
                    </div>
                        <div class="skills_percent"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End About-->
    <!-- Start trabajos-->
    <div id="trabajos">
        <div class="container container_trabajos">
            <div class="trabajos_title section_title">¿QUE PUEDO HACER?</div>
            <div class="title_border"></div>
            <div class="trabajos_items">
                <div class="trabajos_ejemplos">
                    <div class="icono"><i class="fas fa-scroll"></i></div>
                    <div class="trabajos_content">
                        <div class="trabajos_titulo">Landing pages</div>
                        <div class="trabajos_descripcion">Webs de una o pocas paginas, con un diseño elegante y responsive donde se condense la información más importante sobre tu sitio</div>
                    </div>
                </div>
                <div class="trabajos_ejemplos">
                    <div class="icono"><i class="fas fa-mobile-alt"></i></div>
                    <div class="trabajos_content">
                        <div class="trabajos_titulo">Aplicaciones</div>
                        <div class="trabajos_descripcion">Podemos contruir tanto aplicaciones web como aplicaciones para smpartphon compatibles con los sistemas operativos más usados</div>
                    </div>
                </div>
                <div class="trabajos_ejemplos">
                    <div class="icono"><i class="fas fa-sitemap"></i></div>
                    <div class="trabajos_content">
                        <div class="trabajos_titulo">A partir de APIs</div>
                        <div class="trabajos_descripcion">La información no sirve para nada si no puedes acceder a ella de una forma sencilla, por eso podemos contruir tus sitios a partir de la información para que sea accesible y facil de usar</div>
                    </div>
                </div>
                <div class="trabajos_ejemplos">
                    <div class="icono"><i class="fas fa-mail-bulk"></i></div>
                    <div class="trabajos_content">
                        <div class="trabajos_titulo">Campañas por e-mail</div>
                        <div class="trabajos_descripcion">Hoy en dia una buena campaña de newsletter lo es todo, y desde aquí te ayudamos desde los diseños y las listas hasta su distubución</div>
                    </div>
                </div>
            </div>
            <div class="trabajos_propuestas">Pero si tienes otras propuestas no dudes en contármelo</div>
            <a href="#contacto" class="boton trabajos_boton">¿Que tienes en mente?</a>
        </div>
    </div>
    <!-- Ende trabajos-->
    <!-- Start contacto -->
    <div id="contacto">
        <div class="container">
            <div class="section_title contacto_title">Contacto</div>
            <div class="title_border"></div>
            <div class="contacto_form">
                <div class="input_group">
                    <div class="input_subgroup">
                    <input type="text" class="contacto_input" id="contacto_nombre" placeholder="Tu nombre">
                    <p class="error_contacto" id="error_nombre"></p>
                    </div>
                    <div class="input_subgroup">
                    <input type="email" class="contacto_input" id="contacto_email" placeholder="Tu correo electronico">
                    <p class="error_contacto" id="error_email"></p>
                    </div>
                </div>
                <textarea class="contacto_input contacto_texto" id="contacto_texto" cols="30" rows="10" placeholder="Escribe todo lo que quieras"></textarea>
                <p class="error_contacto" id="error_mensaje"></p>
                <button class="boton boton_contacto boton_enviar_disabled" id="boton_enviar">Enviar</button>
            </div>
        </div>
    </div>
    <!-- End contacto -->
</main>