body
    margin: 0
    padding: 0
    font-family: 'Roboto', sans-serif
    color: $color-principal
.header
    position: fixed
    top: 0px
    width: 100%
    transition: .2s all
.container
    margin-right: 10%
    margin-left: 10%
.logo_title
    margin: 1.2rem
.menu
    display: flex
    justify-content: center
    align-items: center
.link
    margin-right: 1rem
    padding: 5px
    text-decoration: none
    color: $color-principal
.link-item
    text-decoration: none
    color: $color-principal
    &:hover
        border-bottom: 1px solid $color-secundario
        transition: .4s all
        color: $color-secundario

.header_background
    background: white
    transition: .2s all

.footer
    padding-top: 3rem
    padding-bottom: 3rem
    background-color: $color-secundario
    color: white